@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for dark mode aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #233554;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00E5FF;
}
